{% extends 'base.html' %}

{% block contents %}
    <div class="container">
        {% for blog in posts %}
            <ge.h2> 제목 : {{blog.title}}</h2><br>
            글쓴 날짜 : {{blog.pub_date}}<br>
            내용 : <a href="{% url 'detail' blog.id %}">상세내용보기</a>
            <br><br>
        {% endfor %}
    

    {% if posts.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{post.previous_page_number}}"> >> </a>
    {% endif %}

    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>

    {% if posts.has_next %}
    <a href="?page={{post.next_page_number}}"> >> </a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
    {% endif %}
</div>
{% endblock %}